<h1>Rails Sample Blog</h1>
<%= link_to 'New Post', new_post_path, class: 'btn' %>
<hr/>


<%= form_tag('/posts', :method => :get) do %>

<div class="field">
    <%= label_tag :search %><br />
    <%= text_field_tag :search %>
  </div>
  <%= submit_tag "search" %>
  
  <% end %>

<% @posts.each do |post| %>
  <div class="post">
    <h3>
      <%= post.title %>
      <small><%= post.created_at.to_s(:short) %>
    </h3>
    

     <p><%= image_tag post.pic.url :thumb %></p>

    <p><%= post.body %></p>
    <div class="btn-group" style="float:right">
      <%= link_to 'Show', post, class: 'btn' %>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn' %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <div class="clearfix">
  </div>
  <hr/>
<% end %>
<%= paginate @posts, :window => 2 %>
<br />

